* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* !! Don't include in Shopify CSS | START !! */
h1, h2, h3, h4, h5, h6, button {
    font-family: "Montserrat", sans-serif;
}

p, small {
    font-family: "Nunito Sans", sans-serif;
}

form .placeholder {
    margin: 0 auto;
}

.form-item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

form .form-item label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
    color: #9c9c9c;
}

form .form-item input {
    padding: 0.75rem 0;
    border: none;
    border-bottom: 3px solid #A9A8A9;
    background-color: #EDEDED;
}
/* !! Don't include in Shopify CSS | END !! */



/* Utility Classes | START */

.section-spacer {
    margin-bottom: 3rem;
    padding: 2rem 0;
}

.content-container {
    /* border: 1px solid red; */
    margin: 0 auto;
    padding:  0 1rem;
    width: min(100%, 100rem);
    text-align: center;
}

.section-container-black {
    background-color: #1b1b1b;
    color: #ffffff; 
}

.section-container-gray-100 {
    background-color: #F0F0F0;
    color: #1b1b1b; 
}
.section-container-gray-200 {
    background-color: #EDEDED;
    color: #1b1b1b; 
}

.section-container-footer {
    background-color: #F5F3ED;
    color: #1b1b1b; 
}

.section-container-white {
    background-color: #ffffff;
    color: #1b1b1b; 
}

.section-container-orange {
    background-color: #FF6C0C;
    color: #1b1b1b; 
}

.section-container-gray100 {
    background-color: #f8f8f8;
    color: #575757; 
}

.img-full-width {
    width: 100%;
}

a.cta-link {
    text-decoration: none;
}

button.cta-template {
    /* margin-top: 2rem; */
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    border: none;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFED00;
    transition: all 200ms ease;
}

button.cta-template:hover {
    color: #1b1b1b;
    background-color: #fcca00 ;
}

button.cta-template.orange-bg {
    margin-top: 2rem;
    padding: 1rem 1rem;
    width: min(100%, 25rem);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF6C0C;
    transition: all 200ms ease;
}

button.cta-template.orange-bg:hover {
    color: #1b1b1b;
    background-color: #fceb00 ;
}

button.cta-template.secondary {
    margin-top: 0;
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    font-weight: 800;
    color: #ffffff;
    background-color: #1b1b1b;
    transition: all 200ms ease;
}

button.cta-template.secondary:hover {
    color: #1b1b1b;
    background-color: #fceb00;
}

button.cta-template.tertiary {
    margin-top: 0;
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    font-weight: 800;
    color: #1b1b1b;
    background-color: #fceb00;
    transition: all 200ms ease;
}

button.cta-template.tertiary:hover {
    color: #ffffff;
    background-color: #FF6C0C;
}

button.secondary-nav {
    margin-top: 1rem;
    padding: 0.7rem 0;
    width: min(100%, 15rem);
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #FF6C0C;
    transition: all 200ms ease;
}

button.secondary-nav:hover {
    background-color: #1b1b1b;
}

button.secondary {
    margin-top: 0;
    padding: 0.75rem 0.5rem;
    width: min(100%, 21rem);
    color: #ffffff;
    font-weight: 600;
    border: none;
    /* border: 2px solid #FF6C0C; */
    background-color: #FF6C0C;
    transition: all 200ms ease;
}
/* Utility Classes | END */



/* MAIN STYLES */

/* Header section | START */

.fall-clearance-promo-header-container {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    overflow: hidden;
}

.fall-clearance-promo-header-container .content-container {
    margin-top: 3rem;
    position: relative;
    z-index: 20;
}

.fall-clearance-promo-header-container .secondary-content {
    margin-top: 2rem;
    position: relative;
    z-index: 20;
    text-align: center;
}

.fall-clearance-promo-header-container .img-container {
    padding: 0 1rem;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.fall-clearance-promo-header-container img.liftow-logo  {
    max-width: 300px;
}

.header-content-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 110%;
}

.header-content-container p {
    font-size: 1rem;
    line-height: 160%
}

.fall-clearance-promo-header-container .secondary-content p {
    padding: 0 1rem;
    font-size: 0.9rem;
    line-height: 120%
}


.fall-clearance-promo-header-container .clr-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #FF6C0C;
}


.fall-clearance-promo-header-container .header-content-container img.cta-desktop {
    width: min(100%, 900px);
}

.fall-clearance-promo-header-container .product-img {
    margin: 2rem 0 1rem 0;
    width: min(100%, 900px);
}


@media (min-width: 75rem) {
    
    .fall-clearance-promo-header-container .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img cta";
        align-items: center;
        position: relative;
        left: -50px;
    }

    .fall-clearance-promo-header-container .header-content-container {
        grid-area: cta;
        text-align: center;
    }

    .fall-clearance-promo-header-container .product-img {
        grid-area: img;
        justify-self: flex-end;
        width: 800px;
        position: relative;
        left: 100px;
    }

    .fall-clearance-promo-header-container .img-container {
        justify-content: start;
    }
 
    .header-content-container p {
        padding-right: 50%;
    }
}

button.cta-template.mobile {
    margin-bottom: 2rem;
}

/* Header section | END */


/* Promotions | START */
.promotions {
 padding: 0 0.75rem 1rem 0.75rem;
 background-color: rgba(233,233,233,1);
 position: relative;
}

.promotions .clr-block {
    height: 200px;
    width: 100%;
    background-color: #FF6C0C;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}

.promo-cards-container {
    margin: 0 auto;
    width: min(100%, 1600px);
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.promo-cards-container .card {
 /* border: 1px solid #b1b1b1; */
 margin: 0 auto;
 padding: 2rem 1rem;
 width: min(100%, 500px);
 text-align: center;
 /* background-color: #ffffff; */
 background: 
    linear-gradient(0deg, rgba(233,233,233,1) 8%, rgba(255,255,255,1) 34%);
}

.card .card-content h2 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 900;
    /* line-height: 100%; */
    color: #FF6C0C;
}

.card.promo-01 .card-content h2 .emphasis {
    margin-top: -0.5rem;
    font-size: 3.8rem;
}

.card.promo-02 .card-content h2 .emphasis {
    margin-top: .5rem;
    font-size: 2.8rem;
    line-height: 90%;
}

.card.promo-03 .card-content h2 .emphasis {
    margin-top: .5rem;
    font-size: 2.6rem;
    line-height: 90%;
}


.card .bullet-main-container {
    margin: 0 auto 2rem auto;
    text-align: center;
}

.card .bullet-container {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.card .bullet-container p {
    position: relative;
    top: 2px;
    font-size: 1rem;
    font-weight: 800;
    color: #77777A;
}

.card .bullet-container img {
    width: 1.6rem;
}

.card.promo-01 .equip-img {
    width: min(75%, 300px);
}

.card.promo-02 .equip-img {
    width: min(100%, 550px);
}

.card.promo-03 .equip-img {
    width: min(100%, 550px);
}

@media (min-width:62.5rem) {
    .promo-cards-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card .card-content h2 {
        /* border: 1px solid red; */
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.1rem;
    }    

    .card.promo-01 .card-content h2 .emphasis {
        font-size: 3.2rem;
    }
    
    .card.promo-02 .card-content h2 .emphasis {
        font-size: 2.1rem;
    }
    
    .card.promo-03 .card-content h2 .emphasis {
        font-size: 2.1rem;
    }

    .card .bullet-main-container {
        /* border: 1px solid red; */
        margin-bottom: 0;
        height: 100px;
    }
    

    .card .img-container {
        /* border: 1px solid red; */
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card.promo-01 .equip-img {
        width: 200px;
    }
    
}

@media (min-width:75rem) {
    .card .bullet-main-container {
        flex-direction: row;
        gap: 3rem;
    }

    .card .card-content h2 {
        font-size: 1.3rem;
    }    

    .card.promo-01 .card-content h2 .emphasis {
        font-size: 3.8rem;
    }
    
    .card.promo-02 .card-content h2 .emphasis {
        font-size: 2.8rem;
    }
    
    .card.promo-03 .card-content h2 .emphasis {
        font-size: 2.8rem;
    }

    .card .bullet-main-container .two-rows {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .card .bullet-container p {
        font-size: 1.1rem;
    }

    .card.promo-01 .equip-img {
        width: 260px;
    }
    
}

@media (min-width:100rem) {
    .promo-cards-container .card {
        padding: 4rem 1rem;
       }

    .card .card-content h2 {
        font-size: 1.7rem;
    }    

    .card.promo-01 .card-content h2 .emphasis {
        font-size: 5.6rem;
    }
    
    .card.promo-02 .card-content h2 .emphasis {
        font-size: 3.6rem;
    }
    
    .card.promo-03 .card-content h2 .emphasis {
        font-size: 3.6rem;
    }

    .card .bullet-main-container {
        margin: 2rem 0 2rem 0;
    }
    
    .card .bullet-container p {
        font-size: 1.3rem;
    }

    .card.promo-01 .equip-img {
        width: 300px;
    }
    
}

/* Promotions | END */



/* Form | START */
#fall-clearance-form {
    margin-bottom: -2rem;
    background-color: rgba(233,233,233,1);
}

.form-content-container.content-container {
    padding: 0 0.5rem;
}

.action-contact-form {
    margin: 0 auto 2rem auto;
    padding: 2.5rem 1rem;
    width: min(100%, 75rem);
    position: relative;
    z-index: 500;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .2);
}

.action-contact-form h2 {
    margin: 0 0 2.5rem 0;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100%;
    color: #1b1b1b;
}


@media (min-width: 45rem) {
    
    /* .action-contact-form h3 {
        font-size: 2rem;
        line-height: 90%;
    } */
    
}

@media (min-width: 75rem) {
    .action-contact-form {
        padding: 2.5rem 2rem;
    }

    .action-contact-form form .form-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}



.action-contact-form button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF6C0C;
}

/* Form | END */





/* Supporting Copy 02 | START */
.benefits-container {
    margin-bottom: -3rem;
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    background-color: rgba(233,233,233,1);
}

.benefits-container .header {
    margin: 0 auto 2rem auto;
    width: min(100%, 55rem);
}

 .benefits-container h3 {
    margin: 2rem 0 0.5rem 0;
    font-size: 2.69rem;
    font-weight: 800;
    line-height: 100%;
    color: #77777A;
}

 .benefits-container p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #77777A;
}

.benefits-container .icon-main-container {
    margin: 0 auto;
    width: min(100%, 700px);
}

.benefits-container .icon-main-container h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 100%;
    color: #77777A;
}

.benefits-container .img-applications-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.benefits-container .img-applications-container img {
    height: 100px;
}

.benefits-container .img-applications-container p {
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 37.5rem) {
    .benefits-container .icon-main-container {
        width: min(100%, 600px);
    }

    .benefits-container .img-applications-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}


@media (min-width: 55rem) { 

    .benefits-container h2 {
        font-size: 2.68rem;
    }

    .benefits-container .icon-main-container {
        width: min(100%, 700px);
    }

    .benefits-container .img-applications-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

}
/* Supporting Copy 02 | END */




/* Image gallery | START */
section#img-gallery {
    margin: 3rem 0 0 0;
}

.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-gallery .img-item {
    width: 100%;
    overflow: hidden;
}

.img-gallery .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 65rem) {

    .img-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    

}

/* Image gallery | END */








/* Footer | Condensed section | START */
.footer-Q32024-ti-tu-landing-page .content-container-footer {
    margin-bottom: 0;
    padding: 3.5rem 2rem 1rem 2rem;
    text-align: center;
}

.footer-content-top img.liftow-logo  {
    width: 250px;
}


.social-icon-container {
    margin-bottom: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icon-container img {
    height: 25px;
}

.liftow-legal {
    color: #77777A;
}

@media (min-width: 75rem) {
    .footer-Q32024-ti-tu-landing-page .footer-content-top {
        display: flex;
        justify-content: space-between;
    }

    .footer-content-top img.liftow-logo  {
        width: 400px;
    }

    .social-icon-container {
        margin-bottom: 0;
        align-items: center;
    }
}
/* Footer | Condensed section | END */